pkgbase = ambix-o5
	pkgdesc = 5th Order Ambix VST, LV2 Plug-ins
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/kronihias/ambix
	arch = x86_64
	arch = x86_64_v3
	groups = lv2-plugins
	groups = pro-audio
	groups = vst-plugins
	license = GPL2
	checkdepends = lv2lint
	makedepends = alsa-lib
	makedepends = cmake
	makedepends = eigen
	makedepends = fftw
	makedepends = freetype2
	makedepends = freeglut
	makedepends = gendesk
	makedepends = glu
	makedepends = libxcursor
	makedepends = libxinerama
	makedepends = jack
	makedepends = liblo
	makedepends = zita-convolver
	makedepends = vst2sdk
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = libglvnd
	depends = libsoxr
	depends = libx11
	depends = libxext
	optdepends = jack: for standalone applications
	optdepends = lv2-host: for LV2 plugins
	optdepends = vst-host: for VST plugins
	provides = ambix-o5
	conflicts = ambix
	source = git+https://github.com/kronihias/ambix.git
	sha256sums = SKIP

pkgname = ambix-o5
	depends = gcc-libs
	depends = glibc
	depends = libglvnd
	depends = libsoxr
	depends = libx11
	depends = libxext
	depends = libasound.so
	depends = libfftw3f.so
	depends = libfftw3f_threads.so
	depends = libfreetype.so
	depends = libzita-convolver.so
